#sidemenu
{
    text-align: left;
    font-size: 12pt;
    float: absolute;
    left: -5px;
    top: -5px;
    border: 0px solid #FFFFFF;
    background-color: #FFFFFF;
    color: black;
    width: 5cm;
}
body
{
    background-color: #dbdbdb;
}