#sidemenu
{
    text-align: left;
    font-size: 12pt;
    float: absolute;
    left: 0px;
    top: 0px;
    margin: 30px;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: black;
    width: 5cm;
}
body
{
    background-color: #dbdbdb;
}